* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: linear-gradient(110deg, #72c3fa 0%, #fc7c58 100%);
    color: rgb(190, 116, 46);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }
  header {
    font-size: 2rem;
    color: rgb(58, 58, 58);
  }
  
  header,
  form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form input,
  form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: rgb(58, 58, 58);
    color: rgb(190, 116, 46);
  }
  form button {
    color: rgb(190, 116, 46);
    background: rgb(58, 58, 58);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  form button:hover {
    background: rgb(190, 116, 46);
    color: rgb(58, 58, 58);
  }
  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todo-list {
    min-width: 30%;
    list-style: none;
  }
  
  .todo {
    margin: 0.5rem;
    background-color: rgb(58, 58, 58);
    color: rgb(240, 171, 107);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
  }
  /* IMPORTANCE */
  .important{
    background-color: rgb(189, 47, 47);
    color: rgb(240, 171, 107);
  }
  .not-important{
    background-color: rgb(73, 73, 192);
    color: rgb(240, 171, 107);
  }
  .filter-todo {
    padding: 1.05rem;
  }
  .todo li {
    flex: 1;
  }
  
  .trash-btn,
  .complete-btn {
    background: rgb(190, 116, 46);
    color: rgb(58, 58, 58);
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
  }
  .complete-btn {
    background: rgb(51, 175, 92);
  }
  .todo-item {
    padding: 0 1rem;
  }
  
  .fa-trash,
  .fa-check {
    pointer-events: none;
  }
  
  .fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }

  /*CUSTOM SELECTOR */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;

  }
  .time-div{
    padding-right: 1.5rem;
  }
  /* Custom Select */
  .select {
    background-color: rgb(58, 58, 58);
    margin: 1rem;
    position: relative;
    overflow: hidden;

  }
  select {
    background-color: rgb(58, 58, 58);
    color: rgb(190, 116, 46);
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    cursor: pointer;
    width: 12rem;

  }
  /* Arrow */
  .select::after {
    color: rgb(58, 58, 58);
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: rgb(190, 116, 46);
    cursor: pointer;
    pointer-events: none;
  }
  /* Transition */
  /*
  .select:hover::after {
    transform: scale(1.5);
  }
  */